body{
    background-color: rgb(253, 253, 247);
    margin: 0;
}
header{
  margin: 0; 
  padding: 2em 5em 4em; 
  color: #efefef;
  overflow:hidden;
  position: relative;
  background: url('');
  

}

header h1 {

justify-content: center;

}

.user-input{
    height: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;

}

#ingredient{
    height: 40px;
    width: 250px;
    justify-content: center;
    
}

#search{
    justify-content: center;
    height: 40px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;

}

#random {

    height: 40px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    float: right;
    margin-top: -200px;
    margin-right: 150px;
     
}


footer{
    width: 100%;
    height: 170px;
    margin-top: 30px;
    background-color: #df7716;

}

.recipe-page {

    display: none;
}

.random-page {

    display: none;
}
