* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 253, 247);
    font-weight: 300;
    line-height: 1.6;
    font-family: "Raleway", sans-serif;
}


header {
    color: #efefef;
    padding: 20px;
    overflow: hidden;
    height: 20em;
    position: relative;
    background-color: black;
}

.logo {

    height: 12%;
    width: 12%;
    position: relative;
    margin-right: 10px;

}

header h1 {
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: -120px;

}

header::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
    z-index: 0;
    transform: skewY(-4.5deg);
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../images/pexels-engin-akyurt-2347311.jpeg") no-repeat center/cover, black; 
}

header h1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background-color: #df7716;
}

header h1 span {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: #fff;
    display: block; 

}   

main {

    min-height: 80vh;
    width: 80%;
    margin: 0 auto;
}

.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    font-size : 20px;

}
.user-input input,
.user-input button {
    margin-bottom: 10px;
}

.ingredient{
    width: 40%;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    margin: 0 10px ;
    text-align: center;
    padding: 0 16px;
    height: 48px;
    background-color: #fff;
    border: 1px solid #df7716;
    border-radius: 5px;
    color: rgb(203, 85, 42);
    box-shadow: inset 0 1px 4px 0 rgba(197, 80, 44, 0.3);
    transition: all 100ms ease-in-out;
}

.ingredient:focus {
    border-color: #FF512F;
    box-shadow: 0 1px 0 0 rgba(196, 88, 37, 0.05);
}

.search-button,
.random-button {
    padding: 15px 30px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    background: linear-gradient(45deg, #FF512F 0%, #e38e16 51%, #FF512F 100%);
    color: white;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.search-button:hover,
.random-button:hover {
    background-position: right center;
}

.search-button:active,
.random-button:active {
    transform: scale(0.95);
}

.recipe-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    display: none;
}

.recipe-results h2 {
    margin-bottom: 20px;
    font-size: 30px;
}   

/* Rondom results styles */

.randomResults{ 

    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;  
    margin: 30px; 
}

.randomRecipeName{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
}

.cuisineName{
    text-align: center;
    padding: 25px 8px;
    font-size: 20px;
}

#imgRandomRecipe{
    height:300px;
    width: 300px;
    border-radius: 25px;
}

.randomRecipeButton {

    text-decoration: none;
    color: #fff;
    background: #df7716;
    border: solid 2px #df7716;
    font-weight: 400;
    font-size: 17px;
    padding: 12px 0;
    display: block;
    width: 175px;
    margin: 16px auto;
    border-radius: 10px;
    transition: all 0.4s linear;
}

.randomRecipeButton:hover {

    background-color: #e38e16;
    border-color: #e38e16;
    font-weight: 600;
}

.backBtn{

    position: fixed;
    bottom: 10px;
    left: 88%;
    width: 150px;
    background: linear-gradient(45deg, #FF512F 0%, #e38e16 51%, #FF512F 100%);
    color: white;
    border-radius: 10px;
    border-color: #df7716;
    padding: 15px 30px;
    font-weight: 700;
    text-transform: uppercase;
    display: none;

}

.recipe-results {

    display: none;
    
}

.recipe-results h2 {

    margin: 20px 0 20px;
    font-size: 30px;    
    color: #df7716;
    text-align: center;
}

.recipe {

    margin: 38px 0;
}

.recipe-item{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 30px 0;
}

.recipe-img img{
    width: 100%;
    display: block;
}

.recipe-name{
    padding: 24px 8px;
}

.meal-name {

    min-height: 60px;
    font-size: 22px;

}

.recipe-button{
    text-decoration: none;
    color: #fff;
    background: #df7716;
    border: solid 2px #df7716;
    font-weight: 400;
    font-size: 17px;
    padding: 12px 0;
    display: block;
    width: 175px;
    margin: 16px auto;
    border-radius: 10px;
    transition: all 0.4s linear;
 
}

.recipe-button:hover{
    background-color: #e38e16;
    border-color: #e38e16;
    font-weight: 600;

}

.no-results {

    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
    color: #df7716;
}

/* Recipe Description Modal Styles */

.cancel {

    margin: 20px;

}

.x {

    color: #efefef;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 10px;
  }
  
  .recipe-description {

    background-color: #df7716;
    border: solid 2px #df7716;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    color: #000;
    padding: 30px;
    margin: 10px;
    line-height: 35px;
    height: 600px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    display: none; 

  }

  .recipe-description::-webkit-scrollbar {
    width: 10px;
}

.recipe-description::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
}

.recipe-label {

    font-size: 20px;

}

.recipe-category {

    font-weight: 400;
    font-size: 16px;
    color: #fff;
    display: inline-flex;
    height: 40px;
    align-items: center;
    padding: 5px;
    text-transform: capitalize;
    margin-top: 10px;
}   

.recipe-category h2 {

    font-size: 16px;

}
.recipe-instructions  {

    line-height: 45px;
    margin: 10px;
    font-weight: 600;

}    

.recipe-instructions h2 {

    font-size: 20px;
    font-style: italic;
    color: #efefef;
    margin-bottom: 15px;
}

.recipe-modal-image img {

    max-width: 30%;
    max-height: 30%;

}    

a {

    text-decoration: underline;
    color: #efefef;
    font-weight: 600;
}    

a:hover {

    opacity: 0.7;

}    
#recipe-vid-link {

    font-weight: 400;
    color: #fff;

}    

/* MEDIA QUERIES */

@media screen and (max-width: 1300px) {


    .backBtn {

        left: 50%;
        
    }    
}


@media screen and (max-width: 1156px) {


    .recipe-description {

        width: 800px;    
        height: 800px;
        margin: 0;

    }

    .recipe-instructions {

        overflow: hidden;
        text-overflow: ellipsis;

    }
}



@media screen and (max-width: 1000px) {

    #recipe {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        grid-auto-rows: minmax(100px, auto);

    } 

    .logo {

        display: none;
    }

    header {

        padding: 9.6rem;
    }

    header h1 {

        padding: 70px 0;

    }

    header h1::after, header h1 span {

        display: none;
    }

}


@media screen and (max-width: 850px) {

    .logo {

        display: block;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 100%;
        margin: 0;
    }

    header h1 {

        display: none;
    }


}    

@media screen and (max-width: 768px) {
   
    .user-input {
        width: 100%;
    }

    #recipe {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        grid-auto-rows: minmax(100px, auto);
    }

    .recipe-item {

        margin: 0;
    }

    .recipe-description {

        width: 500px;  
        height: 900px;  
        margin: 0;
    }


    .recipe-instructions {

        overflow: hidden;
        text-overflow: ellipsis;

    }

    .backBtn {

        left: 50%;
        transform: translateX(-50%);
        height: 45px ;
    }
}

@media screen and (min-width: 992px){

    .recipe {

        grid-template-columns: repeat(3, 1fr);

    }
}

@media screen and (min-width: 768px) {

    .recipe {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .recipe-item {
        margin: 0;
    }

}
