* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(253, 253, 247);
    font-weight: 300;
    line-height: 1.6;
    font-family: "Raleway", sans-serif;
}
header {
    padding: 2em 5em 4em;
    color: #efefef;
    overflow: hidden;
    height: 20em;
    position: relative;
    background-color: black;
}
.logo {
    height: 130px;
    width: 130px; 
}
header h1 {
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: -120px;
}
header::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
    z-index: 0;
    transform: skewY(-4.5deg);
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../images/pexels-engin-akyurt-2347311.jpeg") no-repeat center/cover, black; 
}
header h1::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 2px;
    background-color: #FF512F;
}
header h1 span {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: #fff;
    display: block; 
}   
main {
    min-height: 80vh;
    width: 80%;
    margin: 0 auto;
}
.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.user-input input,
.user-input button {
    margin-bottom: 10px;
}
.ingredient {
    width: 40%;
    margin: 0 10px ;
    padding: 0 16px;
    height: 48px;
    background-color: #fff;
    border: 1px solid #df7716;
    border-radius: 5px;
    color: rgb(203, 85, 42);
    box-shadow: inset 0 1px 4px 0 rgba(197, 80, 44, 0.3);
    transition: all 100ms ease-in-out;
}
.ingredient:focus {
    border-color: #FF512F;
    box-shadow: 0 1px 0 0 rgba(196, 88, 37, 0.05);
}
.search-button,
.randomButton,
.backBtn {
    padding: 15px 30px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(45deg, #FF512F 0%, #e38e16 51%, #FF512F 100%);
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
.search-button:hover,
.random-button:hover {
    background-position: right center;
}
.search-button:active,
.random-button:active {
    transform: scale(0.95);
}
.recipe-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    display: none;
}
.recipe-results h2 {
    margin-bottom: 20px;
    font-size: 30px;
}
.recipe-name {
    font-size: 18px;
}
.recipe-name a {
    color: #df7716;
}
.randomResults{ 
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.randomRecipeName{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #854305;
    margin-top: -140px;
}
.cuisineName{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #5e330c;
}
.randomRecipUrl{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
a{
    color: #854305;
    font-size: 20px;
    text-decoration: none;
}
#imgRandomRecipe{
    height:300px;
    width: 300px;
    border-radius: 25px;
    margin-top: 5px;
}
.randomRecipeImg{
    text-align: center;
}
.backBtn{
    width:150px;
    margin-left: 500px;
    display: none;
    position: relative;
    top: 400px;
    left: 550px;  
}
footer {
    bottom: 0;
    width: 100%;
    height: 170px;
    background-color: #df7716;
    text-align: center;
    line-height: 170px;
    color: #fff; margin-top: 20px;
}